body {
  background-color: hsl(var(--background));
  background-image: linear-gradient(45deg, hsl(var(--border)) 25%, transparent 25%, transparent 75%, hsl(var(--border)) 75%, hsl(var(--border))),
    linear-gradient(45deg, hsl(var(--border)) 25%, transparent 25%, transparent 75%, hsl(var(--border)) 75%, hsl(var(--border)));
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}